@media (min-width: 768px) {
	.cl-vh-menu {
		max-height: calc(100vh - 5.5rem) !important;
	}
}

.cl-modal-preview {
	background-color: var(--bs-light);
	padding: 0;
}

.cl-modal-preview .modal {
	position: static !important;
	top: auto !important;
	left: auto !important;
	display: block !important;
}

.cl-higlight-col .row + .row,
.cl-higlight-container .row + .row,
.cl-higlight-row .row + .row {
	margin-top: 1rem;
}

.cl-higlight-col .col,
.cl-higlight-col .row > div {
	border: 1px solid rgba(var(--bs-dark-rgb), 0.05);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 0.75rem;
}

.cl-higlight-row .row {
	background-color: rgba(var(--bs-danger-rgb), 0.125);
}

.cl-higlight-container div + div {
	margin-top: 1rem;
}

.cl-higlight-container .container,
.cl-higlight-container .container-fluid,
.cl-higlight-container .container-lg,
.cl-higlight-container .container-md,
.cl-higlight-container .container-sm,
.cl-higlight-container .container-xl,
.cl-higlight-container .container-xxl {
	border: 1px solid var(--bs-gray-300);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 0.75rem;
}
