/* body {
	background-color: rgba(var(--bs-body-color-rgb), 0.5);
} */

.cl-transparent-preview{
	background-color: rgba(var(--bs-dark-rgb), 0.015);
}

.cl-modal-preview {
	background-color: rgba(var(--bs-dark-rgb), 0.125);
	padding: 0;
}

.cl-modal-preview .modal {
	position: static !important;
	top: auto !important;
	left: auto !important;
	display: block !important;
}

.cl-highlight-col .row + .row,
.cl-highlight-container .row + .row,
.cl-highlight-row .row + .row {
	margin-top: 1rem;
}

.cl-highlight-col .col,
.cl-highlight-col .col-auto,
.cl-highlight-col .row > div {
	border: 1px solid rgba(var(--bs-dark-rgb), 0.05);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 0.75rem;
}

.cl-highlight-col-div .col div,
.cl-highlight-col-div .col-auto div {
	border: 1px solid rgba(var(--bs-dark-rgb), 0.05);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 0.75rem;
}

.cl-highlight,
.cl-highlight-flex .col .d-flex,
.cl-highlight-flex .col .d-flex > div,
.cl-highlight-flex .col-auto .d-flex,
.cl-highlight-flex .col-auto .d-flex>div {
	border: 1px solid rgba(var(--bs-dark-rgb), 0.05);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
}

.cl-highlight-padding,
.cl-highlight-flex .card-body .col .d-flex > div,
.cl-highlight-flex .card-body .col-auto .d-flex>div {
	border: 1px solid rgba(var(--bs-dark-rgb), 0.05);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 0.75rem;
}

.cl-highlight-row .card-body .row {
	background-color: rgba(var(--bs-danger-rgb), 0.125);
}

.cl-highlight-container .card-body div + div {
	margin-top: 1rem;
}

.cl-highlight-container .container,
.cl-highlight-container .container-fluid,
.cl-highlight-container .container-lg,
.cl-highlight-container .container-md,
.cl-highlight-container .container-sm,
.cl-highlight-container .container-xl,
.cl-highlight-container .container-xxl,
.cl-highlight-div .card-body div,
.cl-highlight-element,
.cl-highlight-grid-div .d-grid div {
	border: 1px solid var(--bs-gray-300);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 0.75rem;
}

.cl-highlight-box .card-body .col div,
.cl-highlight-box .card-body .col-auto div {
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 2rem;
}

.cl-highlight-box-dark .card-body .col div ,
.cl-highlight-box-dark .card-body .col-auto div{
	background-color: rgba(var(--bs-dark-rgb), 0.3);
	padding: 2rem;
}

.cl-highlight-position .card-body > div {
	padding: 3rem;
}

.cl-highlight-position .position-relative {
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	height: 12rem;
}

.cl-highlight-position .position-relative > div {
	background-color: rgb(var(--bs-dark-rgb));
	padding: 1rem;
	border-radius: 0.25rem;
}

.cl-highlight-shadow .col div,
.cl-highlight-size .col div,
.cl-highlight-size-height .col div,
.cl-highlight-shadow .col-auto div,
.cl-highlight-size .col-auto div,
.cl-highlight-size-height .col-auto div {
	border: 1px solid var(--bs-gray-300);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 0.75rem;
}

.cl-highlight-shadow .col div,
.cl-highlight-shadow .col-auto div {
	margin: 1rem 0.75rem;
}

.cl-highlight-size-height .card-body .col div,
.cl-highlight-size-height .card-body .col-auto div {
	padding-top: unset;
	padding-bottom: unset;
}

.cl-highlight-size-height .card-body .col,
.cl-highlight-size-height .card-body .col-auto {
	height: 12rem !important;
}

.cl-highlight-divwithid div[id] {
	border: 1px solid var(--bs-gray-300);
	background-color: rgba(var(--bs-dark-rgb), 0.03);
	padding: 0.75rem;
	vertical-align: middle;
	text-align: center;
}
