.cl-fadein {
	animation-name: fadein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.cl-fadeout {
	animation-name: fadeout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.cl-slidein {
	animation-name: slidein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.cl-slideout {
	animation-name: slideout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.cl-fadeslidein {
	animation-name: fadeslidein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.cl-fadeslideout {
	animation-name: fadeslideout;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

@media (prefers-reduced-motion) {
	.cl-fadein,
	.cl-fadeout,
	.cl-slidein,
	.cl-slideout,
	.cl-fadeslidein,
	.cl-fadeslideout {
		animation-name: dissolve;
		animation-duration: 0s;
	}
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes slidein {
	100% {
		transform: translateX(0%);
	}
}

@keyframes slideout {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes fadeslidein {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes fadeslideout {
	0% {
		opacity: 1;
		transform: translateX(0%);
	}
	100% {
		opacity: 0;
		transform: translateX(-100%);
	}
}
