/*fix bootstrap color problem on btn-close*/

/* .btn-close-white {
    filter: unset !important;
} */

.btn-close {
    color: unset !important;
    background: none !important;
}

.btn-close::before {
    position: unset;
    top: unset;
    right: unset;
    content: unset;
}

.btn-close{
    display: flex;
    justify-content: center;
}

.btn-close::after{
    content: "✕";
    text-align: center;
    justify-content: center;
    font-weight: lighter;
    font-size: calc(100%*1.5);
    display: flex;
    align-self: center;
}
