.fa-cl-image{
    padding: 0.125rem;
    display: inline-block;
    line-height: .05em;
    vertical-align: -.075em;
    margin-top: -.05em;
}

.fa-cl-svg{
    padding: 0.2rem;
    display: inline-block;
    margin-top: -.05em;
}