/*! Color themes for Google Code Prettify | MIT License | github.com/jmblog/color-themes-for-google-code-prettify */
.prettyprint {
	/* background: #f5f7ff; */
	font-family: var(--bs-font-monospace);
	font-size: calc(var(--bs-body-font-size) * 0.8);
	/* border: 0 !important; */
}

.pln {
	color: var(--bs-body-color);
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: var(--bs-body-color);
}

li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
	padding-left: 1em;
	/* background-color: #f5f7ff; */
	list-style-type: decimal;
}

@media screen {
	/* string content */

	.str {
		color: var(--bs-success);
	}

	/* keyword */

	.kwd {
		color: var(--bs-primary);
	}

	/* comment */

	.com {
		color: var(--bs-secondary);
	}

	/* type name */

	.typ {
		color: var(--bs-primary);
	}

	/* literal value */

	.lit {
		color: var(--bs-danger);
	}

	/* punctuation */

	.pun {
		color: rgba(var(--bs-body-color-rgb), 0.8);
	}

	/* lisp open bracket */

	.opn {
		color: var(--bs-body-color);
	}

	/* lisp close bracket */

	.clo {
		color: var(--bs-body-color);
	}

	/* markup tag name */

	.tag {
		color: var(--bs-danger);
	}

	/* markup attribute name */

	.atn {
		color: var(--bs-primary);
	}

	/* markup attribute value */

	.atv {
		color: var(--bs-success);
	}

	/* declaration */

	.dec {
		color: var(--bs-danger);
	}

	/* variable name */

	.var {
		color: var(--bs-danger);
	}

	/* function name */

	.fun {
		color: var(--bs-primary);
	}
}
