/*fix bootstrap color problem on btn-close*/

/* disable bootstrap css */
.btn-close {
    color: unset !important;
    background: none !important;

    width: unset !important;
    height: unset !important;
    padding: unset !important;
}

.btn-close::before {
    position: unset;
    top: unset;
    right: unset;
    content: unset;
}

/* adjust margin base on location */
.toast-header .cl-btn-close-container{
    margin-top: calc(1rem * -0.2);
}

.modal-header .cl-btn-close-container, 
.offcanvas-header .cl-btn-close-container{
    margin-right: 0.5rem;
}

/* container */
.cl-btn-close-container{
    overflow: visible;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    
}

/* using cl btn close 1 */
.btn-close {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.btn-close::after {
    content: "✕";
    text-align: center;
    justify-content: center;
    font-weight: lighter;
    font-size: calc(100%*1.5);
    display: flex;
    align-self: center;
}

/* using font awesome */
/* .btn-close {
    display: flex;
    justify-content: center;
}

.btn-close::after{
    content: "\f00d";
    text-align: center;
    justify-content: center;
    font-weight: 900;
    font-size: calc(100%*1.75);
    display: flex;
    align-self: center;
    font-family: "Font Awesome 6 Free";
} */
