/*fix bootstrap color problem on btn-close*/
.cl-btn-close-container.s2 .btn-close {
    color: unset !important;
    background: none !important;
    padding: unset !important;
}

.cl-btn-close-container.s2 .btn-close::before {
    position: unset;
    top: unset;
    right: unset;
    content: unset;
}


/* .modal-header .cl-btn-close-container, 
.offcanvas-header .cl-btn-close-container,
.toast-header .cl-btn-close-container, */
.modal-header .cl-btn-close-container.s2,
.offcanvas-header .cl-btn-close-container.s2,
.toast-header .cl-btn-close-container.s2 {
    margin-right: 0.5rem;
}

/* .cl-btn-close-container, */
.cl-btn-close-container.s2{
    overflow: visible;
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    align-items: center;
    
}

/* .btn-close, */
.cl-btn-close-container.s2 .btn-close {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 1.5rem;
    width: 1.5rem;
}

/* .btn-close::after, */
.cl-btn-close-container.s2 .btn-close::after {
    content: "×";
    font-weight: lighter;
    font-size: calc(100% * 3);
    line-height: calc(1rem * 1.1);
}


