/* li[disabled],
li.disabled,
button[disabled],
button.disabled,
a[disabled],
a.disabled,
div[disabled],
div.disabled,
input[disabled],
input.disabled{
    cursor: not-allowed !important;
    pointer-events: unset;
}

li.wait,
li.wait.disabled,
button.wait,
button.wait.disabled,
a.wait,
a.wait.disabled,
div.wait,
div.wait.disabled,
input.wait,
input.wait.disabled {
    cursor: wait !important;
    pointer-events: unset; 
} */


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.noselect pre {
    -webkit-touch-callout: text;
    /* iOS Safari */
    -webkit-user-select: text;
    /* Safari */
    -khtml-user-select: text;
    /* Konqueror HTML */
    -moz-user-select: text;
    /* Old versions of Firefox */
    -ms-user-select: text;
    /* Internet Explorer/Edge */
    user-select: text;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}




