.cl-fu-progress {
	position: absolute;
	background-color: rgba(var(--bs-light-rgb), 0.25);
	display: block;
	height: calc(100% - 2px);
	max-width: calc(100% - 2px);
	top: 1px;
	left: 1px;

	/* height:3px;
	bottom:0; */


	font-size: unset;
	font-weight: unset;
	line-height: unset;
	text-transform: unset;
	padding: 0;
	border: none;
}
