li[disabled],
li.disabled,
button[disabled],
button.disabled,
a[disabled],
a.disabled,
div[disabled],
div.disabled,
input[disabled],
input.disabled{
    cursor: not-allowed !important;
    pointer-events: unset;
}

li.wait,
li.wait.disabled,
button.wait,
button.wait.disabled,
a.wait,
a.wait.disabled,
div.wait,
div.wait.disabled,
input.wait,
input.wait.disabled {
    cursor: wait !important;
    pointer-events: unset; 
}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.noselect pre {
    -webkit-touch-callout: text;
    /* iOS Safari */
    -webkit-user-select: text;
    /* Safari */
    -khtml-user-select: text;
    /* Konqueror HTML */
    -moz-user-select: text;
    /* Old versions of Firefox */
    -ms-user-select: text;
    /* Internet Explorer/Edge */
    user-select: text;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}


.accordion-button::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content:"\f078";
    background-image:none !important;
    text-align: center;
    width: 1.25em;
}

.btn-close-white{
    filter:unset !important;
}
.btn-close{
    color: unset !important;
    background: none !important;
}

.btn-close::before{
    position: unset;
    top: unset;
    right: unset;
    content: unset;
}
.btn-close::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    /* content: "\f00d"; */
    /* content: "\f057"; */
    content: "\58";
    text-align: center;
    width: 1em;
    display: inline-block;
    top: -0.2em;
    position: relative;
}


span.nocode.marker{
    position: relative;
}

span.nocode.marker.inline::before,
span.nocode.marker.downline::before,
span.nocode.marker.downline-end::before
{

    color: var(--bs-danger);
    content: "\f08d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-iteration-count: infinite;
}

span.nocode.marker.downline::after {

    color: var(--bs-secondary);
    content: "important";
    margin-left: 0.5rem;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-iteration-count: infinite;
}

/* span.nocode.marker.inline::after {

    color: var(--bs-secondary);
    content: "[";
    margin-left: 0.5rem;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-iteration-count: infinite;
} */

/* span.nocode.marker.inline-end::before {

    color: var(--bs-secondary);
    content: "]";
    margin-left: 0.5rem;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-iteration-count: infinite;
} */

span.nocode.marker.downline-end::after {

    color: var(--bs-secondary);
    content: "_________";
    position: absolute;
    margin-top:-0.35rem;
    margin-left: 0.5rem;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-iteration-count: infinite;
}

/* span.nocode.marker{
    line-height: 0;
    position: relative;
    height: 0;
    display: inline-block;
}

span.nocode.marker.downline~span.pln {
    line-height: 0;
}

span.nocode.marker::before {
    
    color: var(--bs-danger);
    content: "\f08d";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
    animation-iteration-count: infinite;
}

span.nocode.marker.downline::before {
    position: absolute;
    margin-top: 1rem;
    margin-left: -1.5rem;
} */



@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}