
.cl-list-ctl {
	overflow: hidden;
	position: absolute;
	right: 0;
	background-color: var(--bs-list-group-border-color);
	height: 100%;
	width: 0.7rem;
	animation-name: cl-list-ctl-animation-out;
	animation-duration: 300ms;
	animation-iteration-count: 1;
}

.cl-list-ctl:hover {
	background-color: var(--bs-list-group-disabled-color);
	cursor: pointer;
}

.cl-list-ctl::after{
	content: "❮";
	color: var(--bs-list-group-bg);
	position: relative;
	top: calc(50% - 1rem);
	display: flex;
	padding: 0.1rem;
}

.cl-list-ctl .btn-group{
	display: none;
}

.cl-list-ctl.show {
	position: absolute;
	right: 1rem;
	background-color:unset;
	height: unset;
	width: unset;
	content: unset;
	cursor: unset;
	animation-name: cl-list-ctl-animation-in;
	animation-duration: 300ms;
	animation-iteration-count: 1;
}

.cl-list-ctl.show:hover {
	background-color: unset;
	cursor: unset;
}

.cl-list-ctl.show::after {
	content: unset;
	color: unset;
	position: unset;
	top: unset;
	display: unset;
	padding: unset;
}

.cl-list-ctl.show .btn-group{
	display: inline-flex;
}


/* cl-list-ctl animation */
@keyframes cl-list-ctl-animation-in {
	from {
		width: 0.7rem;
		right: 0;
	}

	to {
		width: unset;
		right: 1rem;
	}
}

@keyframes cl-list-ctl-animation-out {
	from {
		width: unset;
	}

	to {
		width: 0.7rem;
	}
}

/* item */


.cl-list .cl-list-img,
.cl-list .cl-list-ctl {
	display: block !important;
}



.cl-list .cl-list-check {
	display: none !important;
}

.cl-list.check .cl-list-img,
.cl-list.check .cl-list-ctl {
	display: none !important;
}

.cl-list.check .cl-list-check {
	display: block !important;
}

.cl-list.check .check .cl-list-check {
	color: var(--bs-primary) !important;
}

.cl-list .list-group-item {
	overflow: hidden;
	
}

.cl-list .list-group-item[data-key],
.cl-list .list-group-item.pointer {
	cursor: pointer;
}

.cl-list .list-group-item-header{
	color: var(--bs-primary);
	text-align: center;
}

/* custom */
.cl-list .list-group-item:not(.list-group-item-header) {
	min-height: 4rem;
}

.cl-list .list-group-item h6 {
	margin-bottom: 0;
}

.cl-list .list-group-item small {
	margin-top: 0.5rem;
	display: inline-block;
}

/* .cl-list .list-group-item-header::before {
	content: "[ ";
}

.cl-list .list-group-item-header::after {
	content: " ]";
} */

